input#search {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  font-size: 18px;
}

#autocomplete li {
  display: block;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  padding: 5px;
  border-bottom: none;
}

#autocomplete li:last-child {
  border-bottom: 1px solid #ccc;
}

#autocomplete li:hover {
  border-color: #333;
}

#autocomplete li>div.poster {
  width: 40px;
  height: 50px;
  background-size: cover;
  float: left;
}

#autocomplete li>div.title {
  padding-left: 50px;
}
